* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: inherit;
}

:root {
  --ff--primary: 'Inter', sans-serif;
  font-size: 16px; 
  scroll-behavior: smooth;

  --blue-dark: #1E6F9F;
  --blue: #4EA8DE;
  --purple-dark: #5E60CE;
  --purple: #8284FA;
  
  --danger: #E25858;
  
  --background-700: #0D0D0D;
  --background-600: #1A1A1A;
  
  --gray-100: #F2F2F2;
  --gray-200: #D9D9D9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  
  --red: #FF002E;
}

body {
  background-color: var(--background-600); 
  color: var(--gray-100); 
}

body, input, textarea, button, html{
  font-family: var(--ff--primary);
  font-weight: 400;
  font-size: 1rem;
}