.container {
  display: flex;
  flex: 1;
  gap: 0.75rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--gray-500);
  border: 1px solid var(--gray-400);
}

.container div, .container label {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.container label {
  position: relative; 
}

.container label input[type='checkbox'] {
  position: absolute;
  opacity: 0; 
  width: 17.5px; 
  height: 17.5px; 
  z-index: 2; 
  cursor: pointer; 
}

.checkbox {
  position: relative; 
  z-index: 1; 
}


.checkbox {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 17.5px;
  height: 17.5px;
  border-radius: 50%;
  transition: background-color 0.2s, border-color 0.2s;
}

.checkboxUnchecked {
  border: 2px solid var(--blue);
  background-color: transparent;
}

.checkboxUnchecked:hover {
  background-color: rgba(30, 111, 159, 0.2);
}

.checkboxChecked {
  border: 2px solid var(--purple-dark);
  background-color: var(--purple-dark);
}

.checkboxChecked:hover {
  border-color: var(--purple);
  background-color: var(--purple);
}

.paragraph {
  font-size: 0.875rem;
  line-height: 140%;
  user-select: none;
  transition: 0.2s all;
}

.paragraphChecked  {
  text-decoration: line-through;
  color: var(--gray-300);
}

.container button {
  border: none;
  background-color: transparent;
  border-radius: 4px;
  padding: 5px 4px 2px 4px;
  transition: 0.2s background-color;
}

.container button:hover, .container button:hover line, .container button:hover path {
  background-color: var(--gray-400);
  fill: var(--danger);
}
